
<body ><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<CENTER><p><font size="100pt" color="red">CupCake</font></p></CENTER>


<center>
<%= button_to "New Cake", new_cake_path, :method => "get" %>
<%= button_to "Go To Index", cakes_path, :method => "get" %>
</center>

</body>